#navbar {
    background: transparent;
    font-family: Roboto;
    position: fixed;
    width: 100%;
    color: white;
    display: block;
    z-index: 99;
}

#navbar.scrolled {
    background-color: white !important;
    transition: background-color 200ms linear;
  }

  #navbar.scrolled h4 {
    color:#263238;
  }

  #navbar.scrolled .links a {
    color:#263238;
  }

.links a {
    color: white;
}

.links a:hover {
    color: #ECEFF1;
    text-decoration: none;
}

.links {
    padding: 12px;
}

#navbar2 {
    font-family: Roboto;
    color: white;
    position: fixed;
    width: 100%;
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 99;
}

#navbar2.scrolled {
    background-color: white !important;
    transition: background-color 200ms linear;
    color: #263238;
  }

  #navbar2.scrolled .hamburger-icon {
    width: 35px;
    height: 5px;
    background-color: #263238;
    margin: 6px 0;
}

.dropdown {
    background-color: white;
    display: none;
}

.dropdown-link {
    padding: 20px;
}

.dropdown-link:hover {
    background-color: #263238;
}

.dropdown a{
    color: #263238;
}

.navbar-transparent {
    background: transparent;
}

.span {
    padding: 20px;
}

.hamburger {
    padding: 10px;
}

.hamburger-icon {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

@media only screen and (max-width: 600px) {
    #navbar2 {
        display: block;
    }
    #navbar {
        display: none;
    }
}


#mainheader {
    padding-top: 250px;
    padding-bottom: 250px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/mainheader.png');
    background-attachment: fixed;
}

#mainheader h1 {
    font-size: 55px;
    font-family: Roboto;
    color: white;
}

#about {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Roboto;
    color: #263238;
}

#about h1{
    font-weight: bolder;
    font-size: 60px;
}

.about-details {
    padding: 20px;
}

#project-header {
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/tech.jpeg');
    background-attachment: fixed;
}

#project-header h1{
    font-weight: bolder;
    font-size: 60px;
    font-family: Roboto;
}

#projects {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Roboto;
    background-color:white;
}

.project {
    padding: 10px;
}

.project-container {
    background-color: #F5F5F5;
    padding: 10px;
    box-shadow: 10px 10px 5px grey;
}

.project-container:hover {
    background-color: #263238;
    color: white;
}

.project-image img {
    width: 100%;
}

.project-description {
    padding-top: 20px;
    padding-bottom: 20px;
}

.project-button:hover {
    background-color: white;
    color: #263238;
}

#contact {
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    font-family: Roboto;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/contact.jpeg');
    background-attachment: fixed;
}

#contact h1 {
    font-size: 60px;
}

.contact-form input{
    padding: 20px;
    width: 100%;
    color: #263238;
    font-family: Roboto;
    font-size: 20px;
}

.contact-form textarea {
    width:100%;
    color: #263238;
    padding: 20px;
    font-size: 30px;
}

.contact-item {
    padding: 10px;
}

.submit-btn {
    color: #263238;
}

.btn-complete {
    font-family: Roboto;
    width: 100%;
}

.btn-complete:hover {
    background-color: #263238;
    color: white;
}

.phone-email {
    padding: 20px;
}

.social-media {
    padding: 20px;
}

.media {
    padding: 10px;
}

#footer {
    color: white;
    background-color: #263238;
    font-family: Roboto;
}

#footer a{
    color: white;
}

#footer a:hover {
    color: #ECEFF1;
    text-decoration: none;
}

