#navbar {
    font-family: "Montserrat";
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    color: white;
    background: transparent;
    z-index: 99;
    display: block;
}

#navbar h5 {
    letter-spacing: 8px;
}

#navbar a{
    color: white;
}

#navbar a:hover {
    color: #CFD8DC;
    text-decoration: none;
}

#navbar.scrolled {
    background-color: white !important;
    color: #263238;
    transition: background-color 200ms linear;
  }

  #navbar.scrolled  a {
    color:#263238;
  }

  #navbar.scrolled a:hover {
      color: #455A64;
  }

  #navbar-dropdown.scrolled {
    background-color: white !important;
    color: #263238;
    transition: background-color 200ms linear;
  }

  #navbar-dropdown.scrolled  .bar1 {
      background-color: #263238;
  } 

  #navbar-dropdown.scrolled  .bar2 {
    background-color: #263238;
} 

#navbar-dropdown.scrolled  .bar3 {
    background-color: #263238;
} 


  #navbar.scrolled  a {
    color:#263238;
  }

  #navbar.scrolled a:hover {
      color: #455A64;
  }

  #navbar-dropdown{
      color: white;
      font-family: "Montserrat";
      padding-top: 20px;
      padding-bottom: 20px;
      position: fixed;
      width: 100%;
      z-index: 99;
      display: none;
  }

  .drop-btn {
      background: transparent;
  }

  .span-header {
      padding-top: 5px;
      padding-bottom: 5px;
  }

  .span-header h5 {
      letter-spacing: 7px;
  }

  .dropdown {
      padding-top: 70px;
      display: none;
  }

  .dropdown-link {
      padding-top: 20px;
      padding-bottom: 20px;
      padding: 20px;
      width: 100%;
  }

  @media only screen and (max-width: 600px) {
    #navbar-dropdown {
        display: block;
    }
    #navbar {
        display: none;
    }
}



  .dropdown-link:hover {
      background-color: #263238;
      color: white;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    background-color: white;
}

#mainheader {
    padding-top: 250px;
    padding-bottom: 350px;
    font-family: "Montserrat";
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/jaffer.png');
    background-attachment: fixed;
    background-size:     cover;                  
    background-repeat:   no-repeat;
    background-position: center center;  
    color: white;  
}

#mainheader h1 {
    animation-duration: 6s;
}

#about {
    padding-top: 150px;
    padding-bottom: 150px;
    font-family: "Montserrat";
    background-color: #ECEFF1;
}

.image-headshot img{
    width: 50%;
    border-radius: 48%;
}

#about a:hover {
    text-decoration: none;
}

.about-para {
    padding-top: 20px;
}

#business-admin {
    font-family: "Montserrat";
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #263238;
    color: #ECEFF1;
}

.header-b {
    padding-top: 60px;
    padding-bottom: 60px;
}

.header {
    letter-spacing: 8px;
}

.header2 {
    padding-top: 60px;
    padding-bottom: 60px;
    letter-spacing: 8px;
}

.button {
    padding-top: 40px;
}

.button-learn {
    background-color: transparent;
    color: white;
    width: 30%;
    padding: 20px;
    border-style: solid;
}

.button-learn:hover {
    background-color: white;
    color: #263238;
}

#programming {
    color: #263238;
    font-family: "Montserrat";
    padding-top: 40px;
    padding-bottom: 40px;
}

#programming h4 {
    letter-spacing: 8px;
}

.github-container {
    padding-top: 40px;
}

.github-btn {
    width: 50%;
    border-style: solid;
    border-color: #263238;
    padding: 20px;
}

.github-btn a {
    color: #263238;
}

.github-btn:hover {
    background-color: #263238;
    color: white;
}

.github-btn a:hover {
    color: #ECEFF1;
    text-decoration: none;
}

.languanges {
    padding-top: 20px;
    padding-bottom: 20px;
}

.projects {
    padding-top: 50px;
}

.project-container {
    padding: 50px;
    border-style: solid;
    font-family: "Montserrat";
    border-color: #263238;
    border-radius: 25px;
}

.project-container h4 {
    letter-spacing: 6px;
}

.project-container:hover {
    color: #ECEFF1;
    background-color: #263238;
}

.project{
    padding-top: 30px;
    padding-bottom: 30px;
}

.image {
    padding: 20px;
}


.project-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.para {
    padding: 20px;
}

.image img{
    width: 100%;
}

#research {
    font-family: "Montserrat";
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #78909C;
    color: white;
}

.research-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.research-para {
    padding-top: 60px;
    padding-bottom: 60px;
    padding: 23px;
}

.learn-more-research {
    color: white;
    background-color: transparent;
    width: 50%;
    padding: 20px;
    border-style: solid;
}

.learn-more-research:hover {
    background-color: #CFD8DC;
    color: #78909C;
}

#contact {
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: "Montserrat";
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/contact.jpeg');
    background-attachment: fixed;
    background-size:     cover;                  
    background-repeat:   no-repeat;
    background-position: center center;  
    color: white;  
}

.contact-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-input {
    padding: 20px;
    font-family: "Montserrat";
    color: #263238;
    width: 100%;
    font-size: 25px;
}

.contact-container textarea {
    height: 50%;
    width: 100%;
    padding: 20px;
    font-family: "Montserrat";
    color: #263238;
    font-size: 25px;
}

.submit-btn {
    background-color: white;
    color: #263238;
    width: 80%;
    padding: 20px;
}

.submit-btn:hover {
    background-color: #CFD8DC;
    color: #263238;
}

#footer {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Montserrat";
    background-color: #263238;
    color: white;
}

#footer a {
    color: white;
}

#footer a:hover {
    color: #CFD8DC;
    text-decoration: none;
}